<br />
<form method="post">
    姓名：<input type="text" name="name" value="Tom" /><br />
    邮箱：<input type="text" name="email" value="邮箱" /><br />
    网址：<input type="text" name="website" value="网址" /><br />
    <textarea rows="5" cols="80" name="content"></textarea><br />
    <input type="submit" value="留言" />
</form>